html {
  scroll-behavior: smooth;
}
.home {
  margin: 20px;

  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #1f1f1f;

  border-radius: 20px;
}
body {
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.Nav {
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #1f1f1f;
  width: 25%;
  margin: auto;
  position: fixed;
  top: 20px;
}
.navitems {
  text-decoration: none;
}
